<% flash.each do |type, msg| %>
    <% if type == "alert" %>
      <div class="alert alert-danger mt-2">
        <%= msg %>
      </div>
    <% else %>
      <div class="alert alert-success mt-2">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  
  <table border="0" width="100%">
    <tr>
      <td scope="col"><h2 class="my-3">Contatos Cadastrados</h2></td>
      <td scope="col" width="140px"><%= link_to 'Cadastrar Contato', new_contact_path, class: "btn btn-secondary btn-sm" %></td>
    </tr>
  </table>

  <table class="table table-sm">
      <tr>
        <th scope="col" width="400px">Nome</th>
        <th scope="col" width="300px">Email</th>
        <th scope="col" class="d-none d-md-block">Telefone</th>
        <th  scope="col" width="210px"></th>
      </tr>
  
      <% @contacts.each do |contact| %>
        <tr>
          <th scope="row"><%= contact.name %></th>
          <td scope="row"><%= contact.primary_email %></td>
          <td scope="row" class="d-none d-md-block"><%= contact.primary_phone %></td>
          <td>
            <%= link_to 'Detalhes', contact_path(contact), class: "btn btn-secondary btn-sm" %>
            <%= link_to 'Editar', edit_contact_path(contact), class: "btn btn-secondary btn-sm" %>
            <%= link_to 'Apagar', contact, method: :delete, data: { confirm: 'Você tem certeza que deseja apagar este contato?' }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
  </table>